.git
.gitignore
**/__pycache__
**/*.py[cod]
**/*.pyo
**/*.pyd
.pytest_cache
.coverage
htmlcov
.vscode
.idea
*.swp
*~
**/log/
**/build/
**/install/
mg_ui/mg_web_ui/frontend/node_modules/
mg_ui/mg_web_ui/frontend/dist/
*.bag
*.mcap
maps/
